body {
    margin: 0;
    background-color: #444;
    color: #fff;
}
h1 {
    text-align: center;
    color: #fff;
}
.container {
    width: 600px;
    margin: auto;
    margin-top: 20vw;
    box-shadow: 0px 0px 35px #333;
    padding: 30px 20px 40px 20px;
    border-radius: 10px;
}
input {
    box-sizing: border-box;
    width: 100%;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    color:#fff;
}
input:hover {
    background-color: #fff;
    color: #000;
}
label {
    color: #fff;
    font-size: 17px;
}
button {
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}
button:hover {
    background-color:burlywood;
    color: #fff;
}
details {
    width: 90%;
    margin: 20px 10px 20px 10px;
    background-color: transparent;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
}
summary {
    color: #fff;
    font-size: 17px;
    cursor: pointer;
    font-size: 20px;
}