body {
    background-color: #444;
    color: #fff;
}
.container {
    width: 600px;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 0 35px #000;
    padding: 10px;
    text-align: center;
    margin:auto;
    margin-top: 80px;
}
.container-table {
    width: 100%;
    border-collapse: collapse;
}
td, th {
    border-bottom: 1px solid #fff;

    padding: 5px;
}
th {
    padding: 7px;
    font-size: 18px;
}
#Total td{
    border: none;
}
.Resultado {
    color: #fff;
}

.container-javascript {
    width: 600px;
    height: 100px;
    background-color: #000;
    margin: auto;
    border-radius: 10px;
    margin-top: 50px;
}
h4 {
    background-color: aqua;
    color: #000;
    text-align: end;
    padding-right: 10px;
    margin-bottom: 5px;
    border-top-left-radius: 10px;
}
code {
    padding-left: 10px;
}
nav {
    width: 100%;
     
}
